/*selector {
    propriedade: valor;
}  */

html{
    background-color: rgb(59, 57, 57);
}
#cabeçalho{
    text-align: center;
    color: rgb(190, 13, 13);
}

#navegar{
    text-align: center;
    background-color: black;
    color: brown;
}

.navegar{
    margin: 10px;
    text-align: center;
    padding: 10px;
}

.navegar a{
    text-decoration: none;
    color: bisque;
    padding: 40px;
}

.navegar a:hover{
    border-bottom: 1px;
    background-color: chocolate;
    color: bisque;
    border-radius: 1px;
}

#corpo{
    text-align: center;
    color: brown;
    height: 450px;
}

#rodapé{
    text-align: center;
    color: brown;
}